@{
    @model IEnumerable<MVCJqueryDataTables.Models.Customer>
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table id="tblCust">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>City</th>
                <th>Country</th>
                <th>Email</th>
                <th>Region</th>
                <th>Street</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.first_name</td>
                    <td>@item.last_name</td>
                    <td>@item.phone</td>
                    <td>@item.dob</td>
                    <td>@item.city</td>
                    <td>@item.country</td>
                    <td>@item.email</td>
                    <td>@item.region</td>
                    <td>@item.street</td>
                </tr>
            }
        </tbody>
    </table>
</div>